 <header>
    <!-- Navigation -->
    <nav>
        <div class="log">
        <div class="logoo" style="padding-top: 10px;"><img src="{{url_for('static',filename='image/TFS.jpg')}}" alt=" Logo"></div>
        <div class="logo">Trimurti Facility Services</div>
        </div>
        <div id="nav">
           <ul class="nav-links" id="nav-links">
    <li><a href="{{ url_for('home') }}#services">Services</a></li>
    <li><a href="{{ url_for('home') }}#about">About</a></li>
    <li><a href="{{ url_for('home') }}#testimonials">Testimonials</a></li>
    <li><a href="{{ url_for('home') }}#gallery">Gallery</a></li>
    <li><a href="{{ url_for('home') }}#team">Team</a></li>
    <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
</ul>

        </div>
       
        <div class="mobile-menu"  onclick="toggle()">
            <i class="fas fa-bars"></i>
        </div>
    </nav>

    
    </header>
    <script>
        function toggle(){
            document.getElementById("nav-links").classList.toggle("active");
        }
    </script>